button {
  border: none;
}

.btn {
  @include font-size($base-font-size);

  display: inline-block;
  padding: .75rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.btn-solid--login {
  @extend .btn;

  background: $blue;
  color: $white;
}

.btn-primary {
  background: $coral;
  color: $white;
}

.btn-primary:hover {
  background: darken($coral, 2%);
}
