input {
  padding: .75rem 1rem;
  color: $black;
}

input[type=submit] {
  border: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:coral;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:$red;
}

select {
  border: 1px solid $wild-sand;
  color: $black;
  height: 30px;
}

label {
  display: block;
  text-transform: capitalize;
}

.disabled {
  color: $wild-sand;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

// validation

.ng-touched.ng-invalid {
  position: relative;
}
