input {
  padding: .75rem 1rem;
  color: $black;
}

input[type=submit] {
  border: none;
}

select {
  border: 1px solid $wild-sand;
  color: $black;
  height: 30px;
}

label {
  display: block;
  text-transform: capitalize;
}

.disabled {
  color: $wild-sand;
}
