html {
  width: 100%;
  height: 100%;
}

body {
  @include font-size($base-font-size);

  line-height: $base-line-height;
  font-family: $base-font-family--sans-serif;
}

hgroup {
  margin-bottom: 2rem;
}

.hidden--sm {
  @include breakpointSmallerThan($breakpoint--medium) {
    display: none;
  }
}

.hidden--md {
  @include breakpointSmallerThan($breakpoint--large) {
    display: none;
  }
}

.hidden--lg {
  @include breakpointLargerThan($breakpoint--medium) {
    display: none;
  }
}
