html {
  width: 100%;
  height: 100%;
}

body {
  @include font-size($base-font-size);

  line-height: $base-line-height;
  font-family: $base-font-family--sans-serif;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
}

hgroup {
  margin-bottom: 2rem;
}

div[ui-view="content"] {
  position: relative;
  text-align: center;
  padding-top: 30px;

  @include breakpointLargerThan($breakpoint--xlarge) {
    @include center($base-container);
  }

  @include breakpointBetween($breakpoint--medium, $breakpoint--xlarge) {
    @include center(60%);
  }

  @include breakpointSmallerThan($breakpoint--medium) {
    @include center(90%);

  }
}
