<img src="assets/img/logo.png" alt="Kristal & Drew Are Getting Married!" class="logo">
<div class="information">
  <p>MacKay Gardens. Lakeland, FL.</p>
  <p>June 11, 2016. 3-11pm</p>
</div>
<div class="guest-form--wrapper">
  <div class="login__content">
    <a class="login__link" ng-click="app.login()" ng-if="!user.authenticated">login with facebook</a>
    <a class="login__link" ng-click="app.logout()" ng-if="user.authenticated">logout</a>
  </div>
  <div class="guest-form">
    <!-- <img ng-if="user.authenticated" ng-src="{{ user.profileImageURL }}" alt="profile pic"> -->
    <form class="guest-form__form">
      <div role="alert">
        <span class="error" ng-show="guest-form.user.cachedUserProfile.first_name.$error.required">
         Required!</span>
      </div>
      <fieldset>
        <div class="form-group">
          <label class="guest-form__label--icon" for="first_name"><i class="guest-form__icon fa fa-user"></i></label>
          <input class="guest-form__input" id="first_name" type="text" placeholder="first name" ng-value="user.cachedUserProfile.first_name || null" ng-model="user.cachedUserProfile.first_name" ng-disabled="user.authenticated" required>
        </div>
        <div class="form-group">
          <label class="guest-form__label--icon" for="last_name"><i class="guest-form__icon fa fa-user"></i></label>
          <input class="guest-form__input" id="last_name" type="text" placeholder="last name" ng-value="user.cachedUserProfile.last_name || null" ng-model="user.cachedUserProfile.last_name" ng-disabled="user.authenticated" required>
        </div>
        <div class="form-group" ng-show="!user.authenticated">
          <label class="guest-form__label--icon" for="age" ng-if="!user.cachedUserProfile.age_range.min"><i class="guest-form__icon fa fa-birthday-cake"></i></label>
          <label class="guest-form__label--icon" for="age" ng-if="user.cachedUserProfile.age_range.min < 21 "><i class="guest-form__icon fa fa-child"></i></label>
          <label class="guest-form__label--icon" for="age" ng-if="user.cachedUserProfile.age_range.min >= 21 && user.cachedUserProfile.age_range.min < 40"><i class="guest-form__icon fa fa-graduation-cap"></i></label>
          <label class="guest-form__label--icon" for="age" ng-if="user.cachedUserProfile.age_range.min >= 40"><i class="guest-form__icon fa fa-wheelchair"></i></label>
          <input class="guest-form__input" id="age" type="number" placeholder="age" ng-model="user.cachedUserProfile.age_range.min" required integer>
        </div>
        <div class="form-group" ng-show="user.cachedUserProfile.age_range.min >= 21">
          <label class="guest-form__label--icon" for="alcohol"><i class="guest-form__icon fa fa-beer"></i></label>
          <input class="guest-form__input" id="alcohol" type="text" ng-model="user.drink" placeholder="alcohol of choice">
        </div>
        <div class="form-group">
          <label class="guest-form__label--icon" for="song"><i class="guest-form__icon fa fa-music"></i></label>
          <input class="guest-form__input" id="song" type="text" placeholder="request a song" ng-model="user.songRequest" required>
        </div>
        <div class="form-group guest-form__verification">
          <input class="guest-form__input" type="checkbox" id="c1" name="cc" required>
          <label class="guest-form__label" for="c1"><span></span>I am definitely coming. We will bill no shows. </label>
        </div>
        <button
          class="btn btn-primary guest-form__submit"
          type="submit"
          ng-click="app.addGuest(
            user.cachedUserProfile.first_name,
            user.cachedUserProfile.last_name,
            user.drink,
            user.songRequest
          )"
        >
          attend our wedding
        </button>
      </fieldset>
    </form>
  </div>
</div>
