<div class="login__content">
  <button class="login__btn btn-solid--login" ng-click="app.login()" ng-if="!user">login with facebook</button>
  <button class="login__btn btn-solid--login" ng-click="app.logout()" ng-if="user">logout</button>
</div>
<div class="guest-form">
  <img ng-src="{{ user.profileImageURL }}" alt="profile pic">
  <form class="guest-form__form">
    <input type="text" placeholder="first name" ng-value="user.cachedUserProfile.first_name || null">
    <input type="text" placeholder="last name" ng-value="user.cachedUserProfile.last_name || null">
    <input type="text" placeholder="last name" ng-value="user.cachedUserProfile.last_name || null">
  </form>
</div>
