<h4>Setname: {{set.currentSet.name}}</h4>

<div ng-if="set.currentSet.name">
  <h4>cards available</h4>


  <ul>
    <li ng-repeat="card in set.currentSet.cards" style="margin: 10px 0;">
      {{card.cardnumber}} {{card.name}}
      <div ng-if="user">
        <input ng-model="card.banjo" type="checkbox">

        <!-- IF USER DOES NOT HAVE CARD -->
        <button ng-show="!card.banjo && user" ng-click="set.addCardToUser(card)">Add Card</button>
      </div>
  
      <!-- IF USER HAS CARD -->
      <div
        ng-repeat="userCard in set.userCards"
        ng-if="card.cardnumber === userCard.cardnumber && userCard.qty >= 1"
        ng-init="userCard.qty >= 1 ? card.banjo = true : card.banjo = false"
      >
          <input placeholder="{{ userCard.qty }}" type="text" style="width:20px">
          <button ng-click="set.removeUserCard(userCard); userCard.qty >= 1 ? card.banjo = true : card.banjo = false">-</button>
          <button ng-click="set.addCardToUser(card, userCard); userCard.qty >= 1 ? card.banjo = true : card.banjo = false">+</button>
      </div>
      <!-- END IF -->

    </li>
  </ul>
</div>
<div ng-if="!set.currentSet.name">
  <h2>click a set to continue!</h2>
</div>

<!-- USER LOGGED IN -->
